<ul>
<% for(var i = 0; i < businesses.length; i++) { %>
    <li><%= businesses[i].name %></li>
    <ul>
        <li><%= businesses[i].address %></li>
        <li><%= businesses[i].phone %></li>
        <li><a href="<%= businesses[i].website %>" target="_blank"><%= businesses[i].website %></a></li>
<% } %>
</ul>
