<h1>Form</h1>
<form>
    <label for="business">Select Business</label>
    <select id="business">
    <% for(var i = 0; i < form.businesses.length; i++) { %>
        <option value="<%= form.businesses[i].reference %>">
            <%= form.businesses[i].name + " (" + form.businesses[i].vicinity + ")" %>
        </option>
    <% } %>
    </select>
    <input type="text" id="search" placeholder="Search">
    <input type="hidden" name="business" id="business_details" value="">
    <br>
    <label for="event">Select Event</label>
    <select id="event" name="event[event_type_id]">
    <% for(var i = 0; i < form.event_types.length; i++) { %>
        <option value="<%= form.event_types[i].id %>">
            <%= form.event_types[i].name%>
        </option>
    <% } %>
    </select>
    <input name="event[start_time]" type="time"> - <input name="event[end_time]" type="time">
    <% for(var i = 0; i < form.event_tags.length; i++) { %>
        <label for="<%= form.event_tags[i].label %>">
            <%= form.event_tags[i].label %>
            <input type="checkbox" id="<%= form.event_tags[i].label %>" 
                   name="event[event_tag_ids][]" value="<%= form.event_tags[i].id %>">
        </label>
    <% } %>
    <br>
    <% for(var i = 0; i < form.days.length; i++) { %>
        <label for="<%= form.days[i].name %>">
            <%= form.days[i].name %>
            <input type="checkbox" id="<%= form.days[i].name %>"
                   name="event[day_ids][]" value="<%= form.days[i].id %>">
        </label>
    <% } %>
    <br>
    <select id="items" name="special[item_id]">
    <% for(var i = 0; i < form.items.length; i++) { %>
        <option value="<%= form.items[i].id %>">
            <%= form.items[i].name %>
        </option>
    <% } %>
    </select>
     <select id="price" name="special[price]">
    <% for(var i = 0.00; i < 100.00; i = i + 0.25) { %>
        <option value="<%= i.toFixed(2) %>">
            $<%= i.toFixed(2) %>
        </option>
    <% } %>
    </select>
    <label for="price-off" name="special[off]">
        <input type="checkbox" id="price-off" value="true">
        off
    </label>
    <% for(var i = 0; i < form.special_tags.length; i++) { %>
        <label for="<%= form.special_tags[i].label %>">
            <%= form.special_tags[i].label %>
            <input type="checkbox" id="<%= form.special_tags[i].label %>" 
                   name="special[special_tag_ids][]" value="<%= form.special_tags[i].id %>">
        </label>
    <% } %>
    <br>
    <input type="submit" value="Submit">
</form>