<h1>Listing events</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Name</th>
    <th>Business</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.sunday %></td>
    <td><%= event.monday %></td>
    <td><%= event.tuesday %></td>
    <td><%= event.wednesday %></td>
    <td><%= event.thursday %></td>
    <td><%= event.friday %></td>
    <td><%= event.saturday %></td>
    <td><%= event.name %></td>
    <td><%= event.business_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
