<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Sunday:</b>
  <%= @event.sunday %>
</p>

<p>
  <b>Monday:</b>
  <%= @event.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @event.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @event.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @event.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @event.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @event.saturday %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Business:</b>
  <%= @event.business_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
