<h1>Listing specials</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specials.each do |special| %>
  <tr>
    <td><%= special.item %></td>
    <td><%= special.price %></td>
    <td><%= link_to 'Show', special %></td>
    <td><%= link_to 'Edit', edit_special_path(special) %></td>
    <td><%= link_to 'Destroy', special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special', new_special_path %>
