<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @special.item %>
</p>

<p>
  <b>Price:</b>
  <%= @special.price %>
</p>


<%= link_to 'Edit', edit_special_path(@special) %> |
<%= link_to 'Back', specials_path %>
